.jumbotron{
	background-image: url("http://www.mcbridestonecompany.com/sitebuildercontent/sitebuilderpictures/batesvillegraymarbleslabrock.jpg");
}
.row2{
	padding-left: 20%;

}

.navbar-default{
color: white;
}

body{
		background-color: #F2F2F2;

}
.img-circle{
	background-size: 80px 60px;
}

#footer{
	background-color: #E0E0E0;
	bottom: 0; 
	width: 100%;
}
.img-circular{
 width: 150px;
 height: 150px;
 border-radius: 100px;
     display: block;
    margin-left: auto;
    margin-right: auto;
}

.userbk{
	background-color: #F0F8FF;
}


/*This is to hide admin view*/
/*.admin_div{
	display:none;
}*/

/*This is to hide */
#not{
	/*display:none;*/
	display:inline;
}
/*#reject_panel{
	display:none;

}*/

.user{
	color: #32CD32;
}
