.jumbotron{
	background-image: url("http://www.mcbridestonecompany.com/sitebuildercontent/sitebuilderpictures/batesvillegraymarbleslabrock.jpg");
}
.row2{
	padding-left: 20%;

}
/*This is to hide admin view*/
/*.admin_div{
	display:none;
}*/

/*This is to hide */
#not{
	/*display:none;*/
	display:inline;
}

.user{
	color: #32CD32;
}