.page-header {
	margin-top: 0;
}

.panel-body {
	padding-top: 0;
}

#logo{
	height: 100%;
	margin-right: 5px;
	display:inline;
}
#profile_pic1{
	
width:70%;
height:70%;
}

.score_selector{
	
padding-top: 10px;
padding-left: 10px;
}

.report_box{
	

}

/*.connection_status {
	font-family: helvetica;
	color: #00FF00;
	position:relative;
	float:right;
}*/

